{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or template.name == 'article'
  or template.name == 'blog'
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist_two != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist_two == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid__item{% if section.settings.footer_newsletter_enable and section.settings.footer_linklist != blank %} medium-up--one-quarter{% elsif section.settings.footer_linklist == blank and section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
        {%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
        {% if linklists[footer_linklist_two].links.size > 0 %}
          <ul class="site-footer__linklist{% unless section.settings.footer_newsletter_enable %} site-footer__linklist--center{% endunless %}">
            {% for link in linklists[footer_linklist_two].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item medium-up--one-half">
          <div class="site-footer__newsletter">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <label for="Email" class="h4">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                <div class="input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="grid grid--no-gutters">
      {% if social_icons %}
        <div class="grid__item{% if section.settings.footer_newsletter_enable %} medium-up--one-half{% else %} text-center{% endif %}">
          <ul class="list--inline site-footer__social-icons social-icons">
            {% if settings.social_facebook_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  {% include 'icon-facebook' %}
                  <span class="icon__fallback-text">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% include 'icon-twitter' %}
                  <span class="icon__fallback-text">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% include 'icon-pinterest' %}
                  <span class="icon__fallback-text">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% include 'icon-instagram' %}
                  <span class="icon__fallback-text">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% include 'icon-tumblr' %}
                  <span class="icon__fallback-text">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% include 'icon-snapchat' %}
                  <span class="icon__fallback-text">Snapchat</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  {% include 'icon-youtube' %}
                  <span class="icon__fallback-text">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a class="social-icons__link" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% include 'icon-vimeo' %}
                  <span class="icon__fallback-text">Vimeo</span>
                </a>
              </li>
            {% endif %}
            {% if template.name == 'blog' or template.name == 'article' %}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  {% include 'icon-rss' %}
                  <span class="icon__fallback-text">RSS</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      <div class="grid__item{% if section.settings.footer_newsletter_enable and social_icons == true %} medium-up--one-half{% else %} text-center{% endif %}">
        <div class="site-footer__copyright{% if social_icons and section.settings.footer_newsletter_enable != blank %} site-footer__copyright--right medium-up--text-right{% elsif social_icons == false and section.settings.footer_newsletter_enable %} medium-up--text-left{% endif %}">
          {% unless social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
            <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
            <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
          {% endunless %}
          {% if section.settings.show_payment_icons %}
            <div class="site-footer__payment-icons{% unless social_icons or section.settings.footer_newsletter_enable == blank %} site-footer__payment-icons--right{% endunless %}">
              {% unless shop.enabled_payment_types == empty %}
                {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}
                <ul class="payment-icons list--inline">
                  {% for type in shop.enabled_payment_types %}
                    {% if payment_icons_available contains type %}
                      <li class="payment-icon">
                        {%- assign icon_name = type | prepend: 'icon-' -%}
                        {% include icon_name %}
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endunless %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
        <small class="site-footer__copyright-content">{{ powered_by_link }}</small>
      </div>
    {% endif %}
        <p> * Alle Preise inkl. Mehrwertsteuer von 19%  </p>
    <div class="site-footer__copyright"> <p>Wir liefern auschließlich mit: </p>

    <svg  version="1.0" id="Ebene_1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="175.748" height="38.786"
   viewBox="0 0 175.748 38.786" overflow="visible" enable-background="new 0 0 175.748 38.786" xml:space="preserve">
    <polygon fill="#FECC00" points="175.748,0 175.748,38.786 0,38.786 0,0 175.748,0 175.748,0 "/>
    <path fill="#D50029" d="M56.665,16.206c-0.768,1.04-2.053,2.848-2.835,3.904c-0.397,0.537-1.114,1.512,1.263,1.512
  c2.515,0,12.515,0,12.515,0s2.017-2.744,3.708-5.039c2.3-3.122,0.199-9.618-8.024-9.618c-7.36,0-32.384,0-32.384,0l-5.615,7.629
  c0,0,29.109,0,30.603,0C57.441,14.594,57.42,15.182,56.665,16.206z M47.471,23.504c-2.377,0-1.66-0.977-1.263-1.514
  c0.782-1.056,2.088-2.845,2.856-3.885c0.756-1.024,0.776-1.612-0.771-1.612c-1.493,0-13.996,0-13.996,0L23.02,31.819
  c0,0,20.141,0,27.501,0c9.083,0,14.14-6.178,15.699-8.314C66.22,23.504,49.985,23.504,47.471,23.504z M65.361,31.819h16.133
  l6.116-8.316l-16.131,0.002C71.474,23.504,65.361,31.819,65.361,31.819z M106.986,6.965l-6.188,8.405h-7.2l6.185-8.405H83.655
  L72.865,21.622h39.46l10.787-14.657H106.986z M88.694,31.819h16.127l6.119-8.314H94.813C94.807,23.504,88.694,31.819,88.694,31.819z
   M0,26.784v1.766h22.468l1.298-1.766H0z M26.181,23.504H0v1.764h24.88L26.181,23.504z M0,31.819h20.061l1.292-1.756H0V31.819z
   M152.072,28.549h23.676v-1.766h-22.376L152.072,28.549z M149.667,31.819h26.081v-1.756h-24.79L149.667,31.819z M155.783,23.504
  l-1.297,1.766h21.262v-1.766H155.783z M134.659,21.622l10.789-14.657h-17.081c-0.006,0-10.797,14.657-10.797,14.657H134.659z
   M116.187,23.504c0,0-1.179,1.611-1.752,2.387c-2.025,2.736-0.234,5.928,6.376,5.928c7.636,0,25.901,0,25.901,0l6.119-8.314H116.187
  z"/>
     </svg>
     </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
